{% extends "base.html" %}

{% block content %}

<h1> Todolis </h1>

{% if session['logged_in'] %}

  <p>Hello, {{session['username']}}!</p>

  <ul>
    {% for todo in list %}
      <li>
        {{ todo[1] }}
        [<a href={{'/delete?id=' + todo[0]|string}}>X</a>]
      </li>
    {% endfor %}
  </ul>

  <form action="" method="post" role="form">
    <input type="text" name="todo" placeholder="New todo"> <br>
    <input type="submit" value="add">
  </form>

{% else %}

  <p> Welcome to Todolis, a web app for your todos. <br>
    If you're new, go sign up to begin. If you're a returning user, login to continue. </p>

{% endif %}
{% endblock %}
