{% extends "base.html" %}

{% block content %}
<h1> Log In </h1>
<p> Existing user? Log in below. If you're a new user, go <a href="/signup">sign up</a> today.</p>

<form action="" method="post" role="form">
  {{ form.csrf }}

  <input type="username" name="username" placeholder="Username"> <br>
  <input type="password" name="password" placeholder="Password"> <br>
  <input type="submit" value="Login" class="btn btn-default">
</form>

{% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li> {{ message[1] }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
